</div><!-- /.container -->

<!--footer-->
<footer class="footer" style="background-color: black; height: 50px; line-height: 50px">
    <div class="container">
        <span class="text-muted">
            &copy; 2020 CodeChapel.com <em>all rights reserved</em>&nbsp;&nbsp;&nbsp;
            <a href="/about">About us</a>
        </span>
        <span class="text-muted" style="float: right;">Dev: <em>Taymoor Ghazanfar</em></span>
    </div>
</footer>

</body>
</html>